@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<BTL_LTWNC.Models.EF.ProductCategory>

<div class="p-5">
    <h1 class="text-center text-uppercase font-bold" style="color: #09B44E;">Category management</h1>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th class="col-md-1">STT</th>
                <th class="col-md-1 text-center">ID</th>
                <th class="col-md-6 text-center">Category name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-1">@i</td>
                        <td class="col-md-1 text-center">@item.iCategoryID</td>
                        <td class="col-md-6 text-center">@item.sCategoryName</td>
                        <td class="d-flex gap-3">
                            <a class="btn btn-small btn-primary" asp-area="Admin" asp-controller="ProductCategory" asp-action="Edit" asp-route-id="@item.iCategoryID">Edit</a>
                            <a class="btn btn-small btn-danger" asp-area="Admin" asp-controller="ProductCategory" asp-action="Delete" asp-route-id="@item.iCategoryID">Delete</a>
                        </td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center fw-bold p-2">No records !!!</td>
                </tr>
            }
        </tbody>
    </table>
</div>